<div class = "row">
  <div class="col-md-6">
    <h2>
      Products List
    </h2>
  </div>
  <div class="col-md-3">
  </div>
  <div class="col-md-2">
    <a style="margin-top:20px" class="btn btn-default" href="#/new/product">New</a>
  </div>
  <div class="col-md-1">
  </div>
</div>
<div class="container">
  <table class="table table-hover">
    <tbody>
      <tr ng-repeat="product in products | orderBy:'manufacturer'" ng-class="{'selected':$index == rowToHighlight}" style="cursor:pointer" ng-click="showProduct(product)" ng-mouseover="highlightRow($index)">
          <!-- <a ng-href="#/product/{{product._id}}">{{ product.category }} {{ product.manufacturer }} {{ product.name }}</a> -->
        <td>
          {{ product.category }}
        </td>
        <td>
           {{ product.manufacturer }}
        </td>
        <td>
           {{ product.name }}
        </td>
      </tr>
    </tbody>
  </table>
</div>